<div class="w-full mt-8">
    <div class="h-full flex justify-content-center align-items-center">
        <p-card styleClass="p-fluid bg-gray-500" [style]="{'width': '25rem'}">
            <ng-template pTemplate="header">
                <div class="flex justify-content-center pt-4"><img src="/assets/images/auth/user.png"
                        [style]="{'width': '10rem', 'height': '10rem'}"></div>
            </ng-template>
            <ng-template pTemplate="content">
                <form [formGroup]="loginForm">
                    <div class="field">
                        <h3>Email</h3>
                        <input pInputText type="email" class="p-inputtext-lg" formControlName="email">
                    </div>
                    <div class="field">
                        <h3>Contraseña</h3>
                        <p-password [feedback]="false" styleClass="p-inputtext-lg" [toggleMask]="true"
                            formControlName="password"></p-password>
                    </div>
                </form>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-center">
                    <p-button label="Iniciar sesion" class="w-full" (onClick)="handleSubmit()" styleClass="p-button-lg">
                    </p-button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>