<p-dialog [(visible)]="showForm" [style]="{width: '550px'}" [header]="(editMode? 'Detalles de': 'Nueva') + ' Funcion'"
    [modal]="true" styleClass="p-fluid" [draggable]="false" (onShow)="onShow()" (onHide)="closeDialog()">
    <ng-template pTemplate="content">
        <form [formGroup]="functionForm">
            <div class="field">
                <h4>Cine</h4>
                <p-dropdown [options]="cinemas" optionLabel="name" optionValue="_id" placeholder="Seleccione un cine"
                    formControlName="cinema_id" (onChange)="onSelectCinema()" appendTo="body"></p-dropdown>
            </div>
            <div class="field">
                <h4>Sala</h4>
                <p-dropdown [options]="rooms" optionLabel="roomNum" optionValue="_id" placeholder="Seleccione una sala"
                    formControlName="room_id" appendTo="body" (onChange)="onSelectRoom($event)"></p-dropdown>
            </div>
            <div class="field">
                <h4>Pelicula</h4>
                <p-dropdown [options]="movies" optionLabel="title" optionValue="_id"
                    placeholder="Seleccione una pelicula" (onChange)="onSelectMovie($event)" formControlName="movie_id"
                    appendTo="body"></p-dropdown>
            </div>
            <div class="field">
                <h4>Horario</h4>
                <div class="p-inputgroup">
                    <p-calendar [timeOnly]="true" placeholder="Inicio" formControlName="from" appendTo="body"
                        [readonlyInput]="true" hourFormat="12" (onSelect)="onSelectFrom($event)">
                    </p-calendar>
                    <p-calendar [timeOnly]="true" placeholder="Fin" formControlName="to" appendTo="body" hourFormat="12"
                        [readonlyInput]="true"></p-calendar>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <div *ngIf="editMode">
            <p-button label="Cerrar" (onClick)="closeDialog()" styleClass="p-button-danger"></p-button>
        </div>
        <div *ngIf="!editMode">
            <p-button label="Cancelar" (onClick)="closeDialog()" styleClass="p-button-danger"></p-button>
            <p-button label="Guardar" (onClick)="handleSubmit()" styleClass="p-button-primary"></p-button>
        </div>
    </ng-template>
</p-dialog>