<p-dialog [(visible)]="showForm" [style]="{width: '550px'}" header="Nueva Funcion" [modal]="true" styleClass="p-fluid"
    [draggable]="false" (onShow)="onShow()" (onHide)="closeDialog()">
    <ng-template pTemplate="content">
        <form [formGroup]="functionForm">
            <div class="field">
                <h4>Horario</h4>
                <div class="p-inputgroup">
                    <p-calendar [timeOnly]="true" placeholder="Inicio" formControlName="from"></p-calendar>
                    <p-calendar [timeOnly]="true" placeholder="Fin" formControlName="to"></p-calendar>
                </div>
            </div>
            <div class="field">
                <h4>Cine</h4>
                <p-dropdown [options]="cinemas" optionLabel="name" optionValue="_id"
                    placeholder="Seleccione un cine" formControlName="cinema_id"></p-dropdown>
            </div>
            <div class="field">
                <h4>Sala</h4>
                <p-dropdown [options]="roomsRaw" optionLabel="roomNum" optionValue="_id"
                    placeholder="Seleccione una sala" formControlName="room_id"></p-dropdown>
            </div>
            <div class="field">
                <h4>Pelicula</h4>
                <p-dropdown [options]="moviesRaw" optionLabel="title" optionValue="_id"
                    placeholder="Seleccione una pelicula" formControlName="movie_id"></p-dropdown>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Cancelar" (onClick)="closeDialog()" styleClass="p-button-danger"></p-button>
        <p-button label="Guardar" (onClick)="handleSubmit()" styleClass="p-button-primary"></p-button>
    </ng-template>
</p-dialog>