<h1>Cines</h1>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <p-button label="Nuevo Cine" (onClick)="openForm()" iconPos="right" icon="pi pi-plus"
                styleClass="p-button-primary"></p-button>
        </ng-template>
    </p-toolbar>

    <app-cinema-table [cinemas]="cinemas" (deletCinema)="confirmDelete($event)" (editCinema)="fillCinemaForm($event)">
    </app-cinema-table>

    <app-cinema-form (createCinema)="createCinema($event)" [showForm]="showForm" [movies]="movies"
        (closeForm)="closeForm()" (editCinema)="updateCinema($event)" [handleCinema]="handleCinema"></app-cinema-form>
</div>