# Frontend
/frontend/.angular/cache
/frontend/node_modules
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/.vscode/*
/frontend/.history/*
/frontend/.angular/cache
/frontend.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontendtestem.log
/frontend/typings
/frontend/package-lock.json

# Backend
/backend/node_modules
/backend/package-lock.json
/backend/uploads/*/*.jpeg
/backend/uploads/*/*.jpg
/backend/uploads/*/*.png