<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recibo</title>
</head>
<body>
    <div class="container-fluid">
        <div class="p-4">
            <div class="row">
                <div class="col-xs-10 ">
                    <h1>Recibo</h1>
                </div>
                <div class="col-xs-2">
                    <h1>MovieCorp</h1>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-10">
                    <h1 class="h6">Nombre: {{names}}</h1>
                    <h1 class="h6">CI: {{ci}}</h1>
                </div>
                <div class="col-xs-2 text-center">
                    <strong>Fecha</strong>
                    <br>
                    {{fecha}} <br>
                    <strong>Factura No.</strong>
                    <br>
                    {{nVoucher}}
                </div>
            </div>
            <hr>
            <div class="row text-center" style="margin-bottom: 2rem;">
                <div>
                    <h1 class="h2">MovieCorp</h1>
                    <strong>{{cinema}}</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Pelicula</th>
                                <th>Hora</th>
                                <th>Cantidad</th>
                                <th>Precio unitario</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{tablaProductos}}
                        </tbody>
                        
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="h5">Gracias por su compra</p>
                </div>
            </div>
        </div>
        </div>
</body>
</html>