<div (click)="handleSelect()">
    <p-card [style]="{width: '300px', height: '550px'}"
        styleClass="transition-colors transition-duration-200 surface-200 hover:surface-400 cursor-pointer">
        <ng-template pTemplate="header">
            <img alt="Card" [src]="URL_API + movie.imagePath" width="50%" height="350">
        </ng-template>
        <ng-template pTemplate="subtitle">
            <div class=" justify-content-center text-color">
                <h1 class="mt-0 mb-3 capitalize">{{movie.title | lowercase}}</h1>
                <ng-container *ngIf="functions?.length">
                    <h2 class="mt-0 mb-2">Horarios: </h2>
                    <div class="flex flex-wrap justify-content-start">
                        <h4 *ngFor="let function of movie.functions" class="mt-0 mb-1 mr-2">{{function.from |
                            date:'HH:mm'}}
                        </h4>
                    </div>
                </ng-container>
                <ng-container *ngIf="!functions?.length">
                    <h2 class="mt-0 mb-1">Próximamente
                    </h2>
                </ng-container>
            </div>
        </ng-template>
    </p-card>
</div>