<div class="mx-2 my-4">
    <a [routerLink]="" class="no-underline">
        <p-card [style]="{width: '360px', height: '275px'}" styleClass="transition-colors transition-duration-200 surface-200 hover:surface-400">
            <ng-template pTemplate="header">
                <img alt="Card" [src]="URL_API + cinema.imagePath" width="100%" height="200">
            </ng-template>
            <ng-template pTemplate="subtitle">
                <div class="flex justify-content-center text-color">
                    <h2 class="m-0">{{cinema.name}}</h2>
                </div>
            </ng-template>
        </p-card>
    </a>
</div>