<p-table [value]="cinemas" [rows]="10" [paginator]="true" responsiveLayout="scroll" [rowHover]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Nro</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Cantidad Salas</th>
            <th>Cantidad Peliculas</th>
            <th>Opciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cinema>
        <tr>
            <td>{{cinemas.indexOf(cinema) + 1}}</td>
            <td>{{cinema.name}}</td>
            <td>{{cinema.address}}</td>
            <td>{{cinema.rooms.length}}</td>
            <td>{{cinema.movies.length}}</td>
            <td class="flex">
                <p-button label="Editar" (onClick)="handleEdit(cinema)" iconPos="right" icon="pi pi-pencil"
                    styleClass="p-button-sm p-button-success mr-2"></p-button>
                <p-button label="Eliminar" (onClick)="handleDelete(cinema._id)" iconPos="right" icon="pi pi-trash" styleClass="p-button-sm p-button-danger">
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>