<table class="table table-striped">
    <thead class="table table-dark">
        <tr>
            <th>Nro</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Cantidad Salas</th>
            <th>Cantidad Peliculas</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cinema of cinemas; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{cinema.name}}</td>
            <td>{{cinema.address}}</td>
            <td>15</td>
            <td>19</td>
            <td>
                <button class="btn btn-success me-4">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
