<p-dialog [(visible)]="showForm" [style]="{width: '550px'}" header="Nuevo usuario" [modal]="true" styleClass="p-fluid"
    [draggable]="false" (onShow)="onShow()" (onHide)="closeDialog()">
    <ng-template pTemplate="content">
        <form [formGroup]="userForm">
            <div class="field">
                <h4>Nombre</h4>
                <input type="text" pInputText formControlName="name">
            </div>
            <div class="field">
                <h4>Apellidos</h4>
                <input type="text" pInputText formControlName="lastnames">
            </div>
            <div class="field">
                <h4>Fecha de nacimiento</h4>
                <p-calendar dataType="string" dateFormat="yy-mm-dd" [showIcon]="true" formControlName="birthdate"></p-calendar>
            </div>
            <div class="field">
                <h4>Telefono</h4>
                <p-inputNumber [useGrouping]="true" formControlName="phone"></p-inputNumber>
            </div>
            <div class="field">
                <h4>Email</h4>
                <input type="email" pInputText formControlName="email">
            </div>
            <div class="field">
                <h4>Rol</h4>
                <p-dropdown [options]="roles" placeholder="Selecione un rol" formControlName="rol"></p-dropdown>
            </div>
            <div class="field">
                <h4>Contraseña</h4>
                <p-password [feedback]="false" [toggleMask]="true" formControlName="password"></p-password>
            </div>
            <div class="field">
                <h4>Confirme contraseña</h4>
                <p-password [feedback]="false" [toggleMask]="true" formControlName="passwordConfirm"></p-password>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Cancelar" (onClick)="closeDialog()" styleClass="p-button-danger"></p-button>
        <p-button label="Guardar" (onClick)="handleSubmit()" styleClass="p-button-primary"></p-button>
    </ng-template>
</p-dialog>