<p-dialog [(visible)]="showForm" [style]="{width: '550px'}" [header]="(editMode? 'Actualizar': 'Nuevo') + ' Cine'"
    [modal]="true" styleClass="p-fluid" [draggable]="false" (onShow)="onShow()" (onHide)="closeDialog()">
    <ng-template pTemplate="content">
        <form [formGroup]="cinemaForm">
            <div class="field">
                <h4>Nombre</h4>
                <input type="text" pInputText formControlName="name">
            </div>
            <div class="field">
                <h4>Direccion</h4>
                <input type="text" pInputText formControlName="address">
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Cancelar" (onClick)="closeDialog()" styleClass="p-button-danger"></p-button>
        <p-button label="Guardar" (onClick)="handleSubmit()" styleClass="p-button-primary"></p-button>
    </ng-template>
</p-dialog>