<p-menubar styleClass="bg-red-600 py-1 mb-4" [model]="items">
    <ng-template pTemplate="start">
        <h2 class="text-white my-0 mx-4">Ice Norte</h2>
        <!-- <p-image src="/assets/images/core/Movie_Corp_positivo.png" height="40" class="mx-4 my-0"></p-image> -->
    </ng-template>
    <ng-template pTemplate="end">
        <ng-container *ngIf="isLoggedIn">
            <p-button label="Cerrar sesion" styleClass="p-button-sm p-button-outlined p-button-secondary text-white"
                (onClick)="logOut()"></p-button>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
            <p-button label="Iniciar sesion" styleClass="p-button-sm p-button-outlined p-button-secondary text-white"
                (onClick)="redirectLogIn()"></p-button>
        </ng-container>
    </ng-template>
</p-menubar>