<p-menubar styleClass="bg-red-600 py-1 mb-4" [model]="items">
    <ng-template pTemplate="start">
        <h2 class="text-white my-0 mx-4">MovieCorp</h2>
    </ng-template>
    <ng-template pTemplate="end">
        <ng-container *ngIf="isLoggedIn">
            <p-button label="Cerrar sesion" styleClass="p-button-sm p-button-outlined p-button-secondary text-white"
                (onClick)="logOut()"></p-button>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
            <p-button label="Iniciar sesion" styleClass="p-button-sm p-button-outlined p-button-secondary text-white"
                (onClick)="redirectLogIn()"></p-button>
        </ng-container>
    </ng-template>
</p-menubar>