<h1>Administradores</h1>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <p-button label="Nuevo usuario" (onClick)="openForm()" iconPos="right" icon="pi pi-plus" styleClass="p-button-primary"></p-button>
        </ng-template>
    </p-toolbar>

    <app-user-table (editUser)="fillUserForm($event)" (deleteUser)="deleteUser($event)" [users]="users">
    </app-user-table>

    <app-user-form (createUser)="createUser($event)" [showForm]="showForm" (closeForm)="closeForm()"></app-user-form>
</div>