<p-dialog [(visible)]="showForm" [style]="{width: '550px'}" [header]="(editMode? 'Actualizar': 'Nueva') + ' Pelicula'"
    [modal]="true" styleClass="p-fluid" [draggable]="false" (onShow)="onShow()" (onHide)="closeDialog()">
    <ng-template pTemplate="content">
        <form [formGroup]="movieForm">
            <div class="field">
                <h4>Titulo</h4>
                <input type="text" pInputText formControlName="title">
            </div>
            <div class="field">
                <h4>Sinopsis</h4>
                <textarea pInputTextarea [rows]="3" formControlName="synopsis"></textarea>
            </div>
            <div class="field">
                <h4>Genero</h4>
                <input type="text" pInputText formControlName="genre">
            </div>
            <div class="field">
                <h4>Clasificacion</h4>
                <input type="text" pInputText formControlName="rating">
            </div>
            <div class="field">
                <h4>Duracion</h4>
                <p-inputNumber formControlName="length" [useGrouping]="false" suffix=" mins"></p-inputNumber>
            </div>
            <div class="field">
                <h4>Protagonistas</h4>
                <input type="text" pInputText formControlName="protagonists">
            </div>
            <div class="field">
                <h4>Director</h4>
                <input type="text" pInputText formControlName="director">
            </div>
            <div class="field">
                <h4>Portada</h4>
                <p-fileUpload [auto]="true" (onSelect)="onFileChange($event)"
                    removeStyleClass="p-button-sm p-button-danger" [fileLimit]="1"
                    invalidFileLimitMessageSummary="Cantidad maxima de archivos excedida"
                    chooseLabel="Seleccionar archivo" accept="image/*"></p-fileUpload>
            </div>
            <div class="field">
                <h4>Trailer</h4>
                <input type="url" pInputText formControlName="trailer">
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Cancelar" (onClick)="closeDialog()" styleClass="p-button-danger"></p-button>
        <p-button label="Guardar" (onClick)="handleSubmit()" styleClass="p-button-primary"></p-button>
    </ng-template>
</p-dialog>