<form class="card bg-dark text-light" [formGroup]="movieForm">
    <div class="card-body">
        <div class="mb-3">
            <label class="form-label">Titulo</label>
            <input type="text" formControlName="title" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Sinopsis</label>
            <textarea rows="3" formControlName="synopsis" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Genero</label>
            <input type="text" formControlName="genre" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Clasificacion</label>
            <input type="text" formControlName="rating" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Duracion</label>
            <input type="number" formControlName="length" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Protagonistas</label>
            <input type="text" formControlName="protagonists" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Director</label>
            <input type="text" formControlName="director" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Portada</label>
            <input type="file" formControlName="imageSrc" (change)="onFileChange($event)" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Trailer</label>
            <input type="url" formControlName="trailer" class="form-control">
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-around">
            <button (click)="handleSubmit()" class="btn btn-primary">Guardar</button>
            <button class="btn btn-danger">Cancelar</button>
        </div>
    </div>
</form>