/* You can add global styles to this file, and also import other style files */

$primary: #1199ee;
$danger: #c22626;
$success: #99cc66;

$body-bg: #1b1e2b;

$input-bg: #ebebeb;

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

button.btn-success, button.btn-primary  {
  color: $light;
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea) {
  outline: 2px solid $danger;
}
div.row.mb-3 > h1 {
  color: $light;
}
tr {
  background-color: $light;
}
