<h1>Peliculas</h1>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <p-button label="Nueva pelicula" (onClick)="openForm()" iconPos="right" icon="pi pi-plus"
                styleClass="p-button-primary"></p-button>
        </ng-template>
    </p-toolbar>

    <app-movie-table [movies]="movies"></app-movie-table>

    <app-movie-form [showForm]="showForm" (createMovie)="createMovie($event)" (closeForm)="closeForm()"></app-movie-form>
</div>

<p-toast></p-toast>