<h1>Películas</h1>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <p-button label="Nueva pelicula" (onClick)="openForm()" iconPos="right" icon="pi pi-plus"
                styleClass="p-button-primary"></p-button>
        </ng-template>
    </p-toolbar>

    <app-movie-table [movies]="movies" (editMovie)="fillMovieForm($event)" (deleteMovie)="confirmDelete($event)">
    </app-movie-table>

    <app-movie-form [showForm]="showForm" [handledMovie]="handledMovie" (createMovie)="createMovie($event)"
        (updateMovie)="updateMovie($event)" (updateMovieNoImg)="updateMovieNoImg($event)" (closeForm)="closeForm()">
    </app-movie-form>
</div>