<p-table [value]="rooms" [rows]="10" [paginator]="true" responsiveLayout="scroll" [rowHover]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Nro</th>
            <th>Numero de Sala</th>
            <th>Cantidad Filas</th>
            <th>Cantidad Columnas</th>
            <th>Precio de la Entrada</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-room>
        <tr>
            <td>{{rooms.indexOf(room)+1}}</td>
            <td>{{room.roomNum}}</td>
            <td>{{room.nRows}}</td>
            <td>{{room.nCol}}</td>
            <td>Bs {{room.price}}</td>
            <td>
                <p-button label="Editar" (onClick)="handleEdit(room)" iconPos="right" icon="pi pi-pencil"
                    styleClass="p-button-sm p-button-success mr-2"></p-button>
                <p-button label="Eliminar" (onClick)="handleDelete(room._id)" iconPos="right" icon="pi pi-trash" styleClass="p-button-sm p-button-danger">
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>